@page "/writeoffs"
@rendermode InteractiveServer
@using Tyuiu.Hits.Blazor.Todo.LozhkinBogdan.Models
@using Tyuiu.Hits.Blazor.Todo.LozhkinBogdan.Services
@inject InventoryService InventoryService

<h3> История списаний</h3>

<table class="table">
    <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Дата</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var w in InventoryService.GetWriteOffs())
        {
            var product = InventoryService.GetProducts()
                .FirstOrDefault(p => p.Id == w.ProductId);

            <tr>
                <td>@product?.Name</td>
                <td>@w.Quantity</td>
                <td>@w.Date.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>